{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Apply for a juggling licence
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>
      <a class="button button-start" href="start-page" role="button">Start the prototype</a>

    </div>
  </div>
</main>

{% endblock %}
