{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="juggling-age">Back</a>

      <h1 class="heading-large">
        Ineligible
      </h1>

      <p>Juggling licences are only available for people aged 18 years or over</p>

      <p>Find out more information about juggling licences <a href="http://thebritishjugglingconvention.co.uk/wiki/index.php?title=Licence">here</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
